<h1>Editing Master Additionalpoint</h1>

<%= render 'form', master_additionalpoint: @master_additionalpoint %>

<%= link_to 'Show', @master_additionalpoint %> |
<%= link_to 'Back', master_additionalpoints_path %>
