<h1>Editing Master Family Allowance</h1>

<%= render 'form', master_family_allowance: @master_family_allowance %>

<%= link_to 'Show', @master_family_allowance %> |
<%= link_to 'Back', master_family_allowances_path %>
