<h1>Editing Master Metropolition</h1>

<%= render 'form', master_metropolition: @master_metropolition %>

<%= link_to 'Show', @master_metropolition %> |
<%= link_to 'Back', master_metropolitions_path %>
